.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }

  .description{
    white-space: pre-wrap;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }